<div class="container">
  <h2>All Projects</h2>

  <div class="row">
    <div class="col-md-4">
      <h3><a routerLink="art">Visual Arts</a></h3>
      <div *ngFor="let project of projects | async | art" (click)="goToDetailPage(project)" class="panel panel-default">
        <div class="panel-body">
          <h4><em>{{project.title}}</em></h4>
          <p>{{project.details}}</p>
          <div *ngIf="currentRoute === '/admin'">
            <p>{{project.$key}}</p>
            <hr>
            <app-edit-project [selectedProject]="project"></app-edit-project>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3><a routerLink="film">Film and Theater</a></h3>
      <div *ngFor="let project of projects | async | film" (click)="goToDetailPage(project)" class="panel panel-default">
        <div class="panel-body">
          <h4><em>{{project.title}}</em></h4>
          <p>{{project.details}}</p>
          <div *ngIf="currentRoute === '/admin'">
            <p>{{project.$key}}</p>
            <hr>
            <app-edit-project [selectedProject]="project"></app-edit-project>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3><a routerLink="music">Music</a></h3>
      <div *ngFor="let project of projects | async | music" (click)="goToDetailPage(project)" class="panel panel-default">
        <div class="panel-body">
          <h4><em>{{project.title}}</em></h4>
          <p>{{project.details}}</p>
          <div *ngIf="currentRoute === '/admin'">
            <p>{{project.$key}}</p>
            <hr>
            <app-edit-project [selectedProject]="project"></app-edit-project>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
